<!DOCTYPE html>
<html>
    <head>
        <title>PromoFlyer</title>
        <style>
            table, th, td {
                border: 1px black solid;
                border-collapse: collapse;
            }
            td {
                padding: 5px
            }
        </style>
    </head>
    <body>
        <h1>How to use Rest API</h1>
        <table>
            <tbody>
                <tr>
                    <th>URI</th><th>Method</th><th>Arguments</th>
                </tr>
                <tr>
                    <td>/api/create</td><td>POST</td><td>name, price</td>
                </tr>
                <tr>
                    <td>/api/update</td><td>PUT</td><td>name, price</td>
                </tr>
                <tr>
                    <td>/api/delete</td><td>DELETE</td><td>name</td>
                </tr>
                <tr>
                    <td>/api/query</td><td>GET</td><td>name</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>